body {
  margin: 0;
  padding: 0;
  outline: none;
  overflow-y: hidden;
  display: flex;
}

a {
  text-decoration: none;
  color: #bdbdbd;
}
a:hover {
  color: #2b2b2b;
}

@-webkit-keyframes slideOpen {
  from {
    width: 76px;
  }
  to {
    width: 250px;
  }
}

@keyframes slideOpen {
  from {
    width: 76px;
  }
  to {
    width: 250px;
  }
}
@-webkit-keyframes divWidth {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes divWidth {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes slideClose {
  from {
    width: 250px;
  }
  to {
    width: 76px;
  }
}
@keyframes slideClose {
  from {
    width: 250px;
  }
  to {
    width: 76px;
  }
}
@-webkit-keyframes divClose {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
@keyframes divClose {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
header {
  display: flex;
}
header .closing-class-style {
  width: 76px;
  height: 100vh;
  background-color: aliceblue;
  -webkit-animation: slideClose 1.2s forwards;
          animation: slideClose 1.2s forwards;
}
header .closing-class-style .profile-location {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-bottom: 1px solid gray;
}
header .closing-class-style .profile-location span {
  border: 1px solid gray;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  background: linear-gradient(to right, #f1b1b1, #82e6e8);
}
header .closing-class-style .body-menu {
  display: flex;
  height: calc(100vh - 120px);
  align-items: center;
}
header .closing-class-style .body-menu nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .closing-class-style .body-menu nav div {
  display: flex;
  align-items: center;
  margin: 16px;
}
header .closing-class-style .body-menu nav div div {
  margin: 6px;
  width: 0px;
  -webkit-animation: divClose 1.5s forwards;
          animation: divClose 1.5s forwards;
}
header .closing-class-style .body-menu nav div div span {
  margin-left: 6px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
header .closing-class-style .body-menu nav a {
  padding: 0 3px;
  font-size: 22px;
  border: #bdbdbd 1px solid;
  border-radius: 3px;
}
header .closing-class-style .body-menu nav a:hover {
  border: #2b2b2b 1px solid;
}
header .opened-class-style {
  width: 76px;
  height: 100vh;
  background-color: aliceblue;
  -webkit-animation: slideOpen 1.2s forwards;
          animation: slideOpen 1.2s forwards;
}
header .opened-class-style .profile-location {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-bottom: 1px solid gray;
}
header .opened-class-style .profile-location span {
  border: 1px solid gray;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  background: linear-gradient(to right, #f1b1b1, #82e6e8);
}
header .opened-class-style .body-menu {
  cursor: pointer;
  display: flex;
  height: calc(100vh - 120px);
  align-items: center;
}
header .opened-class-style .body-menu nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .opened-class-style .body-menu nav div {
  display: flex;
  align-items: center;
  margin: 16px;
}
header .opened-class-style .body-menu nav div div {
  margin: 6px;
  width: 0px;
  -webkit-animation: divWidth 1.5s forwards;
          animation: divWidth 1.5s forwards;
}
header .opened-class-style .body-menu nav div div span {
  margin-left: 6px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
header .opened-class-style .body-menu nav a {
  padding: 0 3px;
  font-size: 22px;
  border: #bdbdbd 1px solid;
  border-radius: 3px;
}
header .opened-class-style .body-menu nav a:hover {
  border: #2b2b2b 1px solid;
}
header .nav-bar-menu {
  width: 76px;
  height: 100vh;
  background-color: aliceblue;
}
header .nav-bar-menu .profile-location {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-bottom: 1px solid gray;
}
header .nav-bar-menu .profile-location span {
  border: 1px solid gray;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  background: linear-gradient(to right, #f1b1b1, #82e6e8);
}
header .body-menu {
  cursor: pointer;
  display: flex;
  width: 100%;
  height: calc(100vh - 120px);
  align-items: center;
}
header .body-menu nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .body-menu nav div {
  display: flex;
  align-items: center;
  margin: 16px;
}
header .body-menu nav div div {
  margin: 6px;
  width: 0px;
}
header .body-menu nav div div span {
  margin-left: 6px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
header .body-menu nav a {
  padding: 0 3px;
  font-size: 22px;
  border: #bdbdbd 1px solid;
  border-radius: 3px;
}
header .body-menu nav a:hover {
  border: #2b2b2b 1px solid;
}
header .login-location {
  height: 40px;
  padding: 6px;
  font-weight: bold;
  color: #bdbdbd;
}/*# sourceMappingURL=index.style.css.map */
